{% extends "base.html" %}
 
{% block extrahead %}

<script type="text/template" id="login_page_template">
Login or add user
 <a href="#/newuser">Add a user</a>
</script>

<script type="text/template" id="newuser_page_template">
<div class="row">
<div class="c8">
<form class="hform" id="newuserform">
<%= error %>
<fieldset>
  <label>Email:</label>
  <input name="email" type="text"></input>
</fieldset>
<fieldset>
  <label>Password:</label>
  <input name="password" type="text"></input>
</fieldset>
<fieldset>
  <label>Confirm Password:</label>
  <input name="confirmpassword" type="text"></input>
</fieldset>
<fieldset>
  <input type="submit" class="button register" value="Register">
  <input type="submit" class="button back" value="Back">

</fieldset>
</form>
</div>
</div>

<a href="#">Back home</a>
</script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="c4"></div>

<div class="c4">
  <h1>TOP MATTER</h1>
</div>
</div>

<div class="row">
  <div class="c2"></div>
    <div class="c8">
<div id="content">

</div>
    </div>
</div>

<div class="row">
  <div class="c4"></div>

<div class="c4">
  <h1>BOTTOM MATTER</h1>
</div>
</div>

{% endblock %}


